<div class="row mt-4">
  <div class="col-md-6">
  <h2>{{plate}}</h2>
  <p>{{make}}</p>
  <p>{{model}}</p>
  <p>{{incident}}</p>
  <p>Created by {{driver.name}} on {{format_date date_created}}</p>
    <button class="btn btn-primary">Report a driver!</button>
</div>


